<div class="container mt-3">
  <form [formGroup]="basicInfoForm" (ngSubmit)="onBasicFormSubmit()">
    <div class="form-group">
      <label for="totalDataCharges">Total mobile data charges<br />(shared among all devices)</label>
      <span class="input-group-addon" style="margin-right: 1%">$</span>
      <input
        type="number"
        class="form-control"
        formControlName="totalDataCharges"
        placeholder="Please enter total shared data charges.."
        (keyup)="setTotalDataCharge($event)"
      />
    </div>
    <div class="form-group">
      <label for="lateFee">Late fee<br/>(shared among all devices)</label>
      <span class="input-group-addon" style="margin-right: 1%">$</span>
      <input
        type="number"
        class="form-control"
        formControlName="lateFee"
        placeholder="Late fee charges (if any).."
        (keyup)="setLateFee($event)"
      />
    </div>
    <div class="form-group">
      <label for="totalNumberOfDevices">Total number of devices</label>
      <span
        class="input-group-addon"
        style="margin-right: 1%; visibility: hidden"
        >$</span
      >
      <input
        type="number"
        class="form-control"
        formControlName="totalNumberOfDevices"
        readonly
      />
    </div>
    <div class="form-group">
      <label for="dataChargePerDevice">Data charges per device</label>
      <span class="input-group-addon" style="margin-right: 1%">$</span>
      <input
        type="number"
        class="form-control"
        formControlName="dataChargePerDevice"
        readonly
      />
    </div>
    <button
      class="btn btn-primary"
      type="submit"
      [disabled]="!basicInfoForm.valid"
      *ngIf="displaySaveButton"
    >
      save
    </button>
    <input
      class="btn btn-primary"
      type="button"
      *ngIf="displayResetButton"
      (click)="onResetForm()"
      value="Reset"
    />

    <div
      *ngIf="basicInfoForm.touched && !basicInfoForm.value.totalDataCharges"
      style="margin-top: 5%"
      class="alert alert-danger"
    >
      Please enter total mobile data charges!
    </div>
  </form>

  <div class="card final-bill" *ngIf="finalBill > 0">
    <div class="card-body" style="text-align: center">
      <h1>Final bill: {{ finalBill | currency }}</h1>
      <button class="btn btn-default mt-3" (click)="checkSummary()">Check summary</button>
    </div>
  </div>
</div>

<div class="devices" *ngIf="showDevices">
  <ul>
    <li *ngFor="let i of devices">
      <div class="device">
        <app-device
          (totalBillEvent)="calculateFinalBill($event)"
          (formDataEvent)="displayFormData($event)"
          [deviceName]="i.deviceName"
          [dataCharge]="i.dataCharge"
          [numberOfDevices]="devices.length"
          [totalDataCharges]="totalMobileDataCharges"
        ></app-device>
      </div>
    </li>
  </ul>
</div>

