.banner {
    background-color: #26619c;
    padding: 10px;
    text-align: center;
    color: white;
  }
  .sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }

  .form-group {
    display: flex;
    align-items: center;
  }

  .form-group label {
    flex-basis: 60%;
    margin-right: 1rem;
  }

  .container{
      border: 0px solid black;
      padding: 3%;
  }

   ul {
    list-style-type: none;
    display: flex;
    /* justify-content: space-evenly; */
    flex-wrap: wrap;
  }

  ul > li{
    border: 1px solid silver;
    margin: 1%;
    padding: 1%;
  }

  .btn-primary{
    background-color: #26619c;
  }

  .btn-primary:hover{
    background-color: white;
    border: 1px solid #26619c;
    color: #26619c;
  }

  .btn-primary:focus {
    outline: none; /* remove outline */
    box-shadow: none; /* remove box shadow */
  }

  .final-bill{
    margin-top: 5%;
    background-color: #26619c;
    color: white
  }