.banner {
    background-color: #1F57B8;
    padding: 10px;
    text-align: center;
    color: white;
  }

  .form-group {
    display: flex;
    align-items: center;
  }

  .form-group label {
    flex-basis: 60%;
    margin-right: 1rem;
  }

  .container{
      border: 0px solid black;
      padding: 5%;
  }

  ul {
    list-style-type: none;
    display: flex;
    /* justify-content: space-evenly; */
    flex-wrap: wrap;
  }

  ul > li{
    border: 1px solid silver;
    margin: 1%;
    padding: 1%;
  }