<div class="container">
    <form [formGroup]="deviceForm" (ngSubmit)="onSubmit()">
        <div>
            <p>Total mobile data charges for {{numberOfDevices}} devices is {{totalDataCharges | currency}}</p>
            <p><b>Note:</b> Please add to final bill to generate final bill for all {{numberOfDevices}} devices</p>
        </div>
        <hr>

        <div class="form-group">
            <label for="deviceName">Device name</label>
            <span class="input-group-addon" style="margin-right: 1%;visibility: hidden;">$</span>
            <input type="text" class="form-control" id="deviceName" formControlName="deviceName" readonly>
        </div>

        <div class="form-group">
            <label for="dataCharge">Data charge</label>
            <span class="input-group-addon" style="margin-right: 1%">$</span>
            <input type="text" class="form-control" id="dataCharge" formControlName="dataCharge" readonly>
        </div>

        <div class="form-group">
            <label for="planBill">Plan bill</label>
            <span class="input-group-addon" style="margin-right: 1%">$</span>
            <input type="number" class="form-control" id="planBill" formControlName="planBill" (keyup)="calculatePlanBillCharges($event)">
        </div>
        <div class="form-group">
            <label for="additionalCharges">Additional charges <br>(if any)</label>
            <span class="input-group-addon" style="margin-right: 1%">$</span>
            <input type="number" class="form-control" id="additionalCharges" formControlName="additionalCharges" (keyup)="calculateAdditionalCharges($event)">
        </div>

        <div class="form-group">
            <label for="totalBill">Total bill</label>
            <span class="input-group-addon" style="margin-right: 1%">$</span>
            <input type="number" class="form-control" id="totalBill" formControlName="totalBill" readonly>
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="!deviceForm.valid" *ngIf="buttonDisplay" title="Please enter phone bill">Add to final bill</button>
    </form>
    <div *ngIf="deviceForm.touched && !deviceForm.controls['planBill'].valid" style="margin-top: 5%;" class="alert alert-danger">
        Please enter total mobile data charges!
    </div>
</div>